.git
.gitignore
.gitattributes
.maven
.mvn
*.md
*.log
.DS_Store
.env
.env.local
.env.*.local
target/
node_modules/
*.iml
.idea/
.vscode/
.project
.classpath
.c9/
*.jar
*.exe
*.war
*.rar
*.zip
*.tar.gz
*.iso
*.dmg
*.db
*.sqlite
